{% extends "base.html" %}
{% block title %}Evaluator{% endblock %}
{% block body %}
    <h1>Assignment Evaluator</h1>
    <h5>using custom built model</h5>
    <h2>Upload files</h2>
    <p>
        The supervised learning model uses <i>pre-evaluated</i>
        assignments to learn from and grades the assignments 
        which are not marked yet.
    </p>
    <form action="http://localhost:8000/upload" enctype="multipart/form-data" method="post">
        <input type="file" name="files" multiple>
        <button type="submit">submit</button>
    </form>
{% endblock %}